<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="itemBuyer">
            <h2><span>Item Buyer</span> {{itemBuyer.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Name</span></dt>
                <dd>
                    <span>{{itemBuyer.name}}</span>
                </dd>
                <dt><span>Phone</span></dt>
                <dd>
                    <span>{{itemBuyer.phone}}</span>
                </dd>
                <dt><span>Email</span></dt>
                <dd>
                    <span>{{itemBuyer.email}}</span>
                </dd>
                <dt><span>Quantity</span></dt>
                <dd>
                    <span>{{itemBuyer.quantity}}</span>
                </dd>
                <dt><span>Timestamp</span></dt>
                <dd>
                    <span>{{itemBuyer.timestamp | date :'medium'}}</span>
                </dd>
                <dt><span>Paid</span></dt>
                <dd>
                    <span>{{itemBuyer.paid}}</span>
                </dd>
                <dt><span>Item</span></dt>
                <dd>
                    <div *ngIf="itemBuyer.item">
                        <a [routerLink]="['/item', itemBuyer.item?.id, 'view']">{{itemBuyer.item?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/item-buyer', itemBuyer.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
