.imageContainer {
  position: relative;
  width: 265px;
  height: auto;
}

.thumbImage {
  width: 100%;
  height: auto;
}

.imageList {
  padding-left: 0;
}

.itemDescription {
  white-space: pre-wrap;
}
