<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="itemWithPictures.item">
            <h2><span>{{itemWithPictures.item.name}}</span> </h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Price</span></dt>
                <dd>
                    <span>{{itemWithPictures.item.price}}</span>
                </dd>
                <dt><span>Quantity</span></dt>
                <dd>
                    <span>{{itemWithPictures.item.quantity}}</span>
                </dd>
            </dl>

            <div class="form-group">
                <ul class="imageList">
                    <li *ngFor="let image of images" class="imageContainer">
                        <a [href]="image.imgURL" target="_blank"><img *ngIf="image.previewLoaded" [src]="image.imgURL" class="thumbImage"/></a>
                    </li>
                </ul>
            </div>

            <div>
                <h4>Buyers</h4>
                <ol>
                    <li *ngFor="let buyer of itemBuyers">
                        {{buyer.name}}
                    </li>
                </ol>
            </div>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/item', itemWithPictures.item.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
